<DIV class="AddDetails">
    <BUTTON (click)="add()">Add Details</BUTTON>
</DIV>

    <BR>

<table class="table text-center">
    <thead>
        <tr>
            <th style="font-family: 'Times New Roman', Times, serif;">AccountholderId</th>
            <th>Accountholder Name</th>
            <th>AccountType</th>
            <th>AccountNumber</th>
            <th>Nominee Name</th>
            <th>Nominee Age</th>
            <th>Nominee Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let obj of data">
            <th scope="row"
                style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                {{obj.accountholderId}}
            </th>
            <td>{{obj.accountholderName}}</td>
            <td>{{obj.accountType}}</td>
            <td>{{obj.accountNumber}}</td>
            <td>
                <div *ngFor="let nomi of obj.nominees" style="padding-bottom: 0.8rem;">
                    <a>
                        {{nomi.nomineeName
                        }}
                    </a>
                </div>
            </td>
            <td>
                <div *ngFor="let nomi of obj.nominees" style="padding-bottom: 0.8rem;">
                    <a>
                        {{nomi.nomineeAge}}
                    </a>
                </div>
            </td>
            <td>
                <div *ngFor="let nomi of obj.nominees" style="padding-bottom: 0.8rem;">
                    <a>
                        {{nomi.address}}
                    </a>
                </div>
            </td>

            <td>
                <button mat-mini-fab color="Basic" (click)="sendData(obj.accountholderId)" >
                    <mat-icon color="warn">edit</mat-icon>
                </button>
            </td>

            <td>
                <button mat-mini-fab color="warn" (click)="DeleteById(obj.accountholderId)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>  
</table>